force-app/main/default/flows/Application_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Handle_Error</name>
        <label>Handle Error</label>
        <locationX>616</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Error</targetReference>
        </connector>
    </assignments>
    <description>Guided wizard for registering students, creating applications, and submitting initial payments.</description>
    <label>Application Wizard</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application_Record</name>
        <label>Create Application Record</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>var_ApplicationID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Payment_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>var_StudentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>Course_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>Intake_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>var_PaymentID</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>var_ApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Payment_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Student_Record</name>
        <label>Create Student Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>var_StudentID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Application_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Student_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Student_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Student_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Student_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Type__c</field>
            <value>
                <elementReference>Student_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Student_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Student_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Student__c</object>
    </recordCreates>
    <screens>
        <name>Screen_Application_Details</name>
        <label>Application Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Payment_Details</targetReference>
        </connector>
        <fields>
            <name>Step2_Header</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 16px;"&gt;Step 2 of 4: Course Selection&lt;/b&gt;&lt;/p&gt;</fieldText>
        </fields>
        <fields>
            <name>Course_Selection</name>
            <dataType>String</dataType>
            <fieldText>Course (Computer Science, Business Administration, Data Science, etc.)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <defaultValue>
                <stringValue>Computer Science</stringValue>
            </defaultValue>
        </fields>
        <fields>
            <name>Intake_Selection</name>
            <dataType>String</dataType>
            <fieldText>Intake (Fall 2026, Spring 2027, Summer 2027)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <defaultValue>
                <stringValue>Fall 2026</stringValue>
            </defaultValue>
        </fields>
        <fields>
            <name>Application_Record_Type</name>
            <dataType>String</dataType>
            <fieldText>Record Type (Undergraduate / Postgraduate)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <defaultValue>
                <stringValue>Undergraduate</stringValue>
            </defaultValue>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Transaction Failed</label>
        <locationX>616</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Msg_Display</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 16px; color: red;"&gt;An Error Occurred!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details: &lt;i&gt;{!var_ErrorMessage}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Back&lt;/b&gt; to review your entry or &lt;b&gt;Finish&lt;/b&gt; to exit.&lt;/p&gt;</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Payment_Details</name>
        <label>Payment Details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Review_Submit</targetReference>
        </connector>
        <fields>
            <name>Step3_Header</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 16px;"&gt;Step 3 of 4: Initial Payment Details&lt;/b&gt;&lt;/p&gt;</fieldText>
        </fields>
        <fields>
            <name>Payment_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <defaultValue>
                <numberValue>2500.0</numberValue>
            </defaultValue>
        </fields>
        <fields>
            <name>Payment_Method</name>
            <dataType>String</dataType>
            <fieldText>Payment Method (Credit Card, Bank Transfer, PayPal, Stripe)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <defaultValue>
                <stringValue>Credit Card</stringValue>
            </defaultValue>
        </fields>
        <fields>
            <name>Payment_Date</name>
            <dataType>Date</dataType>
            <fieldText>Payment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Review_Submit</name>
        <label>Review and Submit</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Student_Record</targetReference>
        </connector>
        <fields>
            <name>Step4_Header</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 16px;"&gt;Step 4 of 4: Summary &amp;amp; Review&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please review the entered information carefully. Click &lt;b&gt;Next&lt;/b&gt; to submit your application.&lt;/p&gt;</fieldText>
        </fields>
        <fields>
            <name>Review_Text</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b&gt;Student Name:&lt;/b&gt; {!Student_Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Email Address:&lt;/b&gt; {!Student_Email}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Date of Birth:&lt;/b&gt; {!Student_Date_of_Birth}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Course Selected:&lt;/b&gt; {!Course_Selection}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Intake Selected:&lt;/b&gt; {!Intake_Selection}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Initial Payment Amount:&lt;/b&gt; ${!Payment_Amount}&lt;/p&gt;</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Student_Details</name>
        <label>Student Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Application_Details</targetReference>
        </connector>
        <fields>
            <name>Step1_Header</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 16px;"&gt;Step 1 of 4: Student Demographics&lt;/b&gt;&lt;/p></fieldText>
        </fields>
        <fields>
            <name>Student_Name</name>
            <dataType>String</dataType>
            <fieldText>Student Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Student_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Student_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Student_Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Student_Type</name>
            <dataType>String</dataType>
            <fieldText>Student Type (Domestic / International)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <defaultValue>
                <stringValue>Domestic</stringValue>
            </defaultValue>
        </fields>
        <fields>
            <name>Student_Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Student_Address</name>
            <fieldType>LargeTextArea</fieldType>
            <fieldText>Address</fieldText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Application Submitted</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p style="text-align: center;"&gt;&lt;b style="font-size: 18px; color: green;"&gt;✓ Application Created Successfully!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The records have been created successfully: &lt;/p&gt;&lt;ul&gt;&lt;li&gt;Student Record Created&lt;/li&gt;&lt;li&gt;Application Record Created&lt;/li&gt;&lt;li&gt;Initial Payment Logged&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Finish&lt;/b&gt; to close the wizard.&lt;/p&gt;</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Student_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ApplicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PaymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_StudentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
