force-app/main/default/flows/Student_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Generate_ID</name>
        <label>Generate ID</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Student_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_StudentID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Student_ID</name>
        <label>Check Student ID</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Student_ID_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Student_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_ID</targetReference>
            </connector>
            <label>Student ID Is Blank</label>
        </rules>
    </decisions>
    <description>Generates a default Student ID format on record creation.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_StudentID</name>
        <dataType>String</dataType>
        <expression>&quot;SAMS-&quot; + TEXT(YEAR(TODAY())) + &quot;-0001&quot;</expression>
    </formulas>
    <interviewLabel>Student Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Student_ID</targetReference>
        </connector>
        <object>Student__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
